<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dawnbringers!</title>
        <style>{% include assets/css/style.css %}</style>
    </head>
    <body>
        <div class="site-wrapper">
            <nav class="site-nav">
                <p>NAV</p>
            </nav>
            <main class="site-content">
                {{ content }}
            </main>
        </div>
    </body>
</html>


