<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dawnbringers!</title>
        <style>{% include assets/css/style.css %}</style>
    </head>
    <body>
        <header class="site-header">
            <h1 class="site-title"><span class="first">The</span> <span class="second">Dawnbringers'</span> <span class="third">Enemy</span> <span class="fourth">List!</span></h1>
            <div class="under-construction">
                <div class="first">
                    {{ "assets/images/under-construction.svg" | useSVG }}
                </div>
                <div class="second">
                    {{ "assets/images/under-construction.svg" | useSVG }}
                </div>
                <div class="third">
                    {{ "assets/images/under-construction.svg" | useSVG }}
                </div>
            </div>
        </header>
        <div class="content-wrapper">
            <nav id="site-nav">
                {% if collections.post %}
                    <button id="nav-toggle">click <span class="underline">HERE</span> to see the list!</button>
                    <ul>
                        <li><a href="https://www.apple.com/">FedEX</a></li>
                        <li><a href="https://www.apple.com/">Electric</a></li>
                        <li><a href="https://www.apple.com/">Aaa Bbb Ccc Ddd Eee Fff Ggg Hhh Iii Jjj Kkk Lll Mmm Nnn Ooo</a></li>
                        <li><a href="https://www.apple.com/">Can't touch this</a></li>
                        <li><a href="https://www.campbells.com/">Campbell's Soup</a></li>
                    </ul>
                {% else %}
                    <p>This is where I'd put a list of our enemies...</p>
                    <img src="assets/images/if-i-had-one.jpg" />
                {% endif %}
            </nav>
            <main class="site-content">
                {{ content }}
            </main>
        </div>
        <footer class="site-footer">
            <div class="img-wrapper">
                <img src="assets/images/best-viewed.png" />
            </div>
            <div class="web-ring">
                <div class="web-ring-header">
                    <h2>A Proud Member Of...</h2>
                </div>
                <div class="web-ring-title">
                    <p>Steve's Webring!</p>
                </div>
                <div class="web-ring-nav">
                    <span>[ Prev ]</span>
                    <a href="https://stephencottontail.com/">[ Next ]</a>
                </div>
                <div class="web-ring-footer">
                    <a href="https://twitter.com/s_cottontail24">[ Twitter ]</a> <a href="https://github.com/stephencottontail">[ Github ]</a> <a href="https://www.apple.com">[ Made on an iPad ]</a>
                </div>
            </div>
        </footer>
        {% if collections.post %}
            <script type="text/javascript">
                var toggle = document.getElementById( 'nav-toggle' );
                var menu = document.getElementById( 'site-nav' );

                toggle.addEventListener( 'click', function() {
                    if ( menu.classList.contains( 'active' ) ) {
                        menu.classList.remove( 'active' );
                    } else {
                        menu.classList.add( 'active' );
                    }
                } );
            </script>
        {% endif %}
    </body>
</html>


